:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    
}

/* start components */
.main-btn{
    background-color: var(--red-color) !important;
    color: var(--yellow-color) !important;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.main-btn:hover{
    color: white !important;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.358);
}

.main-title::after{
    content:"";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* end components */

/* start nav bar */

.navbar{
    background-color: var(--dark-color) !important;
}

.navbar .nav-link{
    color: white !important;
}

.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover{
    color:var(--green-color) !important;
}

.navbar .search{
    border-left: 1px solid var(--green-color);
}

/* svg refers to the i tag in font-awesome */
.navbar .search svg{
    color: var(--green-color);
}

.navbar .navbar-toggler{
    color: white !important;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
/* end nav bar */

/* start main */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 70px);
}
/* end main */



/* start features section */
.features .icon-holder{
    height: 200px;
}

.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon{
    color: var(--green-color);
}

.features .feature h4{
    color: var(--yellow-color);
}
/* end features section */


/* start work section */
.work-section{
    background-color: var(--section-color);
}

.work-section ul li.active{
    background-color: var(--red-color);
    color: var(--yellow-color);
}

.work-section ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.work-section ul li:not(.active):hover{
    color: var(--red-color);
}

.work-section .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.work-section .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: #33d1cc73;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}

.work-section .box:hover::before{
    transform: translateX(0); 
}

/* end work section */

/* start stuff section */
.stuff .description{
    max-width: 400px;
}
/* end stuff section */

/* start team  */
.team{
    background-color: var(--section-color);
}

.team h2{
    color: var(--yellow-color);
}

.team .box h4{
    background-color: var(--green-color);
}
/* end team */


/* start projects section  */
.projects{
    background-color: var(--dark-color);
}
/* end projects section  */


/* start subscribe section */
.subscribe{
    background-color: var(--yellow-color);

}

.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}

/* here you wanna acess the input element that has type attribute of "text" value */
.subscribe input[type="text"]:focus{
    outline: none;
}

/* here you wanna modify the style of an attribute inside an html element which is the placeholder in the input element
*/
.subscribe ::placeholder{
    color: white;
}

.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
    transition: 0.3s;
}

.subscribe input[type="submit"]:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.358);
    color: white;
}
/* end subscribe section */

/* start footer */
.footer {
    background-color: var(--dark-color);
}

.footer .copyrights > span{
    color: var(--green-color);
}

.footer .copyrights div span{
    color: var(--yellow-color);
}

.footer .contact ul svg{
    width: 20px;
    height: 20px;
}

.facebook{
    background-color: #1877f2;
    transition: 0.3s;
}

.twitter{
    background-color: #14171a;
    transition: 0.3s;
}
.linkedin{
    background-color: #0a66c2;
    transition: 0.3s;

}
.youtube{
    background-color: #ff0000;
    transition: 0.3s;
}

.facebook:hover, .twitter:hover, .linkedin:hover, .youtube:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.358);
    /* color: var(--yellow-color); */

}
/* end footer */